<html>
<head>
	<title></title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- underscore from bower comp -->
  <script src="/vendor/underscore/underscore-min.js"></script>
  <!-- jquery -->
  <script type="text/javascript" src="vendor/jquery/dist/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" href="/static/stylesheets/style.css">
  <script type="text/javascript" src="/static/javascript/app.js"></script>
</head>
<body>
<h1 href="listing">List of Apartments</h1>
<div id="listitems"></div>
<!-- Templating -->
<script type="text/template" id="apt-template">
<div class="well">
  <div class="apt_list">
    <%= name %>
    <%= address %>
    <img id ="format" src="<%= url %>"><br>
   
   </div>
</div>
</script>

</body>


</html>