<html>
<head>
	<title></title>
  <!-- underscore from bower comp -->
  <script src="/vendor/underscore/underscore-min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- jquery -->
  <script type="text/javascript" src="vendor/jquery/dist/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" href="/static/stylesheets/style.css">
</head>
<body background="http://www.psdgraphics.com/file/wooden-panels-texture.jpg">
        <form method="post" action="/logout?_method=DELETE">
          <button type="submit" class="btn btn-danger">Log Out</button>
        </form>
      <form method="post">
      <input type="text" name="Name" placeholder="eg. john oliver">
</body>
</html>